<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css" integrity="sha384-AC72NFnzDYhho/7kMU87hi8xVckRX7PO2y7HvxT7p1RFAmthpCbKO/t9djMXxk73" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" integrity="sha384-+lKLtMyKzY/ZdqRXlhw2whazop7duDxgP+oWPB+EGry5wK+vJnZwSsgMnAmDS/39" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css" integrity="sha384-PXrhaNsUYKDEAwmsoYrEKw3PwKL842n+ELfpGNFa7WxlamngT3G3NbqAlhAVbTLv" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel" integrity="sha384-Cs7FjTthkaQd74/gsNNk9bPEdP9C1vNMHbCnzjH6YjCZqntaUghTlC2DLksxs11v" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" integrity="sha384-/ERMwPDvuhlg6SfLL1SIBWbJSH9TcY5drtIdFikHjz72o9NCmJLQDQMV/ksAMvfn" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono" integrity="sha384-tG51cuaOibw+2BDU1JPg+cyUUWCxD0EON3wIBtFbhHiNsJDcc6OGYDG952ZlW18D" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css?q=12122" />
		<link rel="stylesheet" type="text/css" href="/css/main.css?q=12121" />
		<script src="https://kit.fontawesome.com/90d32d0757.js" ></script>
	</head>
	<body>
		<div id="layout" class="pure-g">
			<div class="sidebar pure-u-1 pure-u-md-5-24">
				<div class="header">
					<a href="/"><img src="/images/photo.png" /></a>
					<h1 class="brand-title">Brad Mennen</h1>
					<h2 class="brand-tagline">Cyber Security | OSCP</h2>
					<br />
					<nav class="nav">
						<ul class="nav-list">
							<li class="nav-item"><a href="/"><i class="fas fa-home fa-lg"></i></a></li>
							|
							<li class="nav-item"><a href="/contact"><i class="far fa-id-card fa-lg"></i></a></li>
							|
							<li class="nav-item"><a href="/blog">Blog</a></li>
						</ul>
					</nav>
					<hr />
					<nav class="nav">
						<ul class="nav-list">
							<li class="nav-item"><a href="/category/general">#General</a></li>
							<li class="nav-item"><a href="/category/htb">#HackTheBox</a></li>
							<li class="nav-item"><a href="/category/commands">#Commands</a></li>
							<li class="nav-item"><a href="/category/enumeration">#Enumeration</a></li>
							<li class="nav-item"><a href="/category/pentest">#pentest</a></li>
						</ul>
					</nav>
					<hr />
					<div id="search-container">
						<input type="text" id="search-input" style="width: 90%;" placeholder="search..." />
						<ul id="results-container"></ul>
					</div>
					<div class="desktop"><br /><br /></div>
					<nav class="js-toc toc"></nav>
				</div>
				<div class="footer">
					<a href="https://www.linkedin.com/in/bradley-mennen"><i class="fab fa-linkedin fa-2x"></i></a>
					<span style="font-size: 2.5em;">|</span>
					<a href="https://www.github.com/butl3r"><i class="fab fa-github fa-2x"></i></a>
					<span style="font-size: 2.5em;">|</span>
					<a href="feed.xml"><i class="fas fa-rss-square fa-2x"></i></a>
					{% include disclaimer.html %}
				</div>
			</div>
			<div class="content pure-u-1 pure-u-md-19-24">
				{{ content }}
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js" integrity="sha384-TnuMTlegqfBi40E9e3dO2qfmPVKDjLFCCgyZ5bR3SA/hYTJXI090bTbAr/AXO+bc" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-jekyll-search/1.7.12/simple-jekyll-search.min.js" integrity="sha384-Ji3tfQ2sXSPmI01JswxGtjqpPIQwpehBg2qLKF3HWUKbAX2rzmdOhxLoLWLB/yXq" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
